* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}
form #formid,
label {
  font-family: "Work Sans";
  font-size: 18px;
}
p,
a {
  font-family: "Work Sans";
}
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-toggler-icon {
  border: 1px solid black !important;
}
.yellow {
  color: #eec320;
}
.mlist > h4 {
  margin-bottom: 1.75rem;
  font-size: 2rem;
  line-height: 3rem;
}

.form-group,
option {
  font-family: "Work Sans";
}
